<footer class="footer">
    <div class="footer-container">
        <h2 class="logo-footer">DevPioneers</h2>

        <nav class="footer-links">
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>

        <p class="footer-copy">&copy; 2025 DevPioneers — Tous droits réservés.</p>
    </div>
</footer>
<style>
    /* ------ Footer Simplifié ------ */
.footer {
    background: #000000;
    padding: 40px 20px;
    color: #7c7c7c;
    margin-top: 60px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

/* Logo */
.logo-footer {
    font-size: 26px;
    color:#f8f7f7;
    margin-bottom: 20px;
}

/* Liens */
.footer-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #ff6a00;
}

/* Copyright */
.footer-copy {
    font-size: 14px;
    color: #aaa;
}

/* Responsive */
@media (max-width: 600px) {
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}

</style>